<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= courseID %> Details</title>
    <link rel="stylesheet" href="../styles.css" />
</head>
<body>
    <h1><%= courseID %></h1>
    <div id="courseDetails">
        <h2 id="courseName"><%= courseName %></h2>
        <p id="courseDescription"><%= courseDescription %></p>
        <p id="credits"><%= credits %></p>
    </div>
</body>
</html>